{% extends "base.html" %}

{% block title %}
    login
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <form method="POST" class="bg-custom shadow-hard p-4 rounded">
            <h3 class="mb-4 text-light">login</h3>

            <div class="form-group">
                <label for="email" class="text-light">email</label>
                <input
                    type="email"
                    class="form-control form-control-dark"
                    id="email"
                    name="email"
                    placeholder="Enter your email"
                >
            </div>
            <br>
            <div class="form-group">
                <label for="password" class="text-light">password</label>
                <input
                    type="password"
                    class="form-control form-control-dark"
                    id="password"
                    name="password"
                    placeholder="Enter your password"
                >
            </div>
            <br>
            <button type="submit" class="btn btn-primary">login</button>
        </form>
    </div>
</div>
{% endblock %}