#title1{
    font-size: 35px;
    margin-top: 150px;
    width: 70%;
    margin-left: 50px;
    margin-bottom: 40px;
}
#title2{
    font-size: 20px;
    margin-left: 50px;
    width: 80%;
}
.get-started-btn{
    margin-top: 250px;
}